h2{
    color: white; 
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
  display: inline; 
  float: right;
}
.item-4 span{ 
    font-weight: bold; 
    font-size: 15pt; 
    margin: 5px; 
    line-height: 27px; 
}