h2{
    color: white; 
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
  display: inline; 
  float: right;
}
.item-4 span{ 
    font-weight: bold; 
    font-size: 25pt; 
    margin: 5px; 
    line-height: 45px;
    font-family: Helvetica, sans-serif;
    color: #666666;
}

html, body{
    height:100% ;
    background-color: #2b2b2b;

}

